# MQTT Configuration
MQTT_USER=pro-auxes
MQTT_PASSWORD=arqui2

# MongoDB Configuration
DB_USER=root
DB_PASSWORD=arqui2-nosql
DB_NAME=arqui2-sensores

# Docker Registry (para push de imágenes)
REGISTRY_USER=smillermp
IMAGE_TAG=1.0.0
