# MQTT Configuration
MQTT_USER=pro-auxes
MQTT_PASSWORD=arqui2
MQTT_BROKER_URL=localhost:9001
BROKER=mosquitto
PORT=1883

# MongoDB Configuration
DB_USER=root
DB_PASSWORD=arqui2-nosql
DB_NAME=arqui2-sensores
DB_HOST=mongodb
DB_PORT=27017

# Docker Registry (para push de imágenes)
REGISTRY_USER=smillermp
IMAGE_TAG=1.0.0
